.card:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.green {
  background-color: chartreuse;
}
.green:hover{
  background-color: lightgreen;
}

span{
  width: 100px;
}

.card {
  min-width: 210px;
  width: 100%;
  padding: 0;
}

/* .align-items-start{
  justify-content: center;

} */

input.ng-touched.ng-invalid {
  border: red 1px solid;
}
