<!--/**-->
<!-- * Created by "Andy Van Camp" on 18/08/2021.-->
<!-- */-->
<div class="container">
  <div class="row g-1 pt-2">
    <h3>Restaurants must have at least one opening hour to be shown on the main page. </h3>
    <form class=""
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          [formGroup]="openingHourForm"
          novalidate>

      <div class="input-group mb-3">
        <span class="input-group-text" id="weekday">Weekday:</span>
        <select
          class="form-control"
          formControlName="weekday"
        >
          <option [ngValue]="null" disabled>Choose a Day</option>
          <option *ngFor="let d of days" [ngValue]='d'>{{ d }}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="open">Open:</span>
        <input
          type="time"
          class="form-control"
          formControlName="openTime"
        >
        <!--        <div class="alert-danger" *ngIf="Open.errors && f.submitted">-->
        <!--          <div *ngIf="Open.errors.required">Opening time is required</div>-->
        <!--        </div>-->
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="close">Close:</span>
        <input
          type="time"
          class="form-control"
          formControlName="closeTime"
        >
        <!--        <div class="alert-danger" *ngIf="Close.errors && f.submitted">-->
        <!--          <div *ngIf="Close.errors.required">Closing time is required</div>-->
        <!--        </div>-->
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="timeslot">Timeslot:</span>
        <input
          type="number"
          class="form-control"
          placeholder="Timeslot"
          formControlName="reservationTimeslot"
        >
        <!--        <div>-->
        <!--          <div class="alert-danger" *ngIf="Timeslot.errors && f.submitted">-->
        <!--            <div *ngIf="Timeslot.errors.required">Reservation time slot is required</div>-->
        <!--          </div>-->
        <!--          <div class="alert-danger" *ngIf="Timeslot.errors.min && f.submitted">-->
        <!--            <div *ngIf="Timeslot.errors.min">Reservation time slot of minimum 15 min is required</div>-->
        <!--          </div>-->
        <!--          <div class="alert-danger" *ngIf="Timeslot.errors.max && f.submitted">-->
        <!--            <div *ngIf="Timeslot.errors.max">Reservation time slot can max be 60 min</div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>


      <div class="form-check ms-1">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
               formControlName="active">
        <label class="form-check-label" for="flexCheckDefault">
          Active
        </label>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-1">
        <button type="submit" class="btn btn-outline-primary"
                [disabled]="openingHourForm.invalid">{{isNew ? 'Save' : 'Update'}}</button>
        <button type="button" class="btn btn-outline-primary" *ngIf="!isNew" (click)="setNew()">New</button>

        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteOpeninghour()" *ngIf="!isNew">Delete
        </button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
        Update/save failed!<br>{{errorMessage}}
      </div>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
      Openingshour is saved!
    </div>

  </div>
  <div *ngIf="openinghoursCollection" class="row align-items-start gap-2  pt-2">
    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start"> -->
    <div class="card col-md-2" *ngFor="let openinghour of openinghoursCollection"
         (click)="setForUpdate(openinghour)">
      <div class="card-body" [ngClass]="{'green':openinghour.active}">
        <i>Opening</i>
        <h3>{{openinghour.weekday}}</h3>
        <h5>{{openinghour.openTime.substring(0, 5)}}</h5>
        <h5>{{openinghour.closeTime.substring(0, 5)}}</h5>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>


