<!-- Created by "Dorien and Nick" on 10/08/2021. -->

<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Orders {{restaurant.name}}</h2>
        <p class="fs-5">Total earnings: <strong>{{totalEarnings | currency:'EUR'}}</strong></p>
      </div>
      <div *ngIf="orders" class="woops">
        <p>Seems like there are no orders yet.</p>
      </div>
      <div class="panel-body" *ngIf="orders">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th></th>
            <th>Ordered by</th>
            <th>Date</th>
            <th>Total</th>
          </tr>
          </thead>

          <tbody>
          <ng-container
            *ngFor="let order of orders" ng-non-bindable>
            <tr data-bs-toggle="collapse"
                [attr.data-bs-target]="'#d' + order.id"
                class="accordion-toggle collapsed"
                id="test">
              <td>
                <button class="btn btn-default btn-xs"><i class="fas fa-chevron-up"></i></button>
              </td>
              <td>{{order.user.username}}</td>
              <td>{{order.orderTime | date}}</td>
              <td>{{order.totalPrice | currency:'EUR'}}</td>
            </tr>

            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" [attr.id]="'d' + order.id">
                  <table class="table table-striped table-light">
                    <thead>
                    <tr class="info">
                      <th></th>
                      <th>Item</th>
                      <th>Price</th>
                      <th>Amount</th>
                      <th>Total</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr *ngFor="let orderItem of order.orderItemList" data-toggle="collapse" class="accordion-toggle"
                        data-target="#demo10">
                      <td></td>
                      <td>{{orderItem.menuItem.name}}</td>
                      <td>{{orderItem.menuItem.price | currency:'EUR'}}</td>
                      <td>x {{orderItem.amount}}</td>
                      <td>{{orderItem.menuItem.price * orderItem.amount | currency:'EUR'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
