.hiddenRow {
  padding: 0 !important;
}

i {
  transition: all 0.25s;
}

.collapsed i {
  /* color:red; */
  transform: rotate(180deg);
  /* transition: all .25s ease-in-out; */
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: rgba(216,188,235,0.5);
  
}

.panel-heading {
  text-align: center;
  margin-bottom: 30px;
}

.panel-heading p {
  text-align: right;
}

h2 {
  font-family: 'Yomogi', cursive;
  font-size: 70px;
  margin: 20px auto 30px auto;
  padding-bottom: 20px;
  /* border-top: 5px solid #FF8F00; */
  border-bottom: 4px solid #FF8F00;
}

.woops {
  text-align: center;
}
