<div class="container">
  <div class="header">
    <div class="whitespace"></div>
    <h1>Le Order </h1>
  </div>
  <div class="whitespace2"></div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-sm table-striped">
        <tr>
          <th>Name</th>
          <th>Vegetarian</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
        <tr>
        <tr *ngFor="let orderItem of orderItems">
          <td>{{orderItem.menuItem.name}}</td>
          <td>
            <div *ngIf="orderItem.menuItem.vegetarian"><i class="fas fa-seedling" style="color: green"></i>
            </div>
          </td>
          <td>
            {{orderItem.menuItem.price | currency: '€'}}
          </td>
          <td>
            x{{orderItem.amount}}
          </td>
        </tr>
      </table>

    </div>
  </div>

  <strong>Current Wallet: </strong> {{currentUserWallet | currency: '€'}}
  <br>
  <strong>Total: </strong>  {{orderTotal | currency:'€'}}
  <br>
  <button type="button" class="btn btn-outline-primary" (click)="openPaymentForm()">Pay your order</button>
  <button type="button" style="margin-left: 5px" class="btn btn-outline-danger" (click)="goBack()">Cancel</button>

</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
</style>

