.row {
  margin-bottom: 25px;
  margin-top: 15px;
}

span,
.knoppen .btn {
  width: 110px;
}

h3, h2 {
  margin-bottom: 20px;
}

.parking {
  margin-left: 10px;
  margin-bottom: 10px;
}

.align-items-start{
  justify-content: center;

}
