<!--/**-->
<!-- * Created by "Andy Van Camp" on 10/08/2021.-->
<!-- */-->
<div class="container">
  <div class="alert alert-warning" *ngIf="error && !isNew">
    Something went wrong<br>{{errorMessage}}
  </div>
  <div class="row align-items-start">
    <div class="col-6">
      <h2 *ngIf="isNew">Saving a restaurant</h2>
    <h2 *ngIf="!isNew">Updating a restaurant</h2>
      <form class=""
            *ngIf="!isSuccessful  && isLoaded"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="input-group mb-3">
          <span class="input-group-text" id="name">Name</span>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            aria-label="Name"
            aria-describedby="basic-addon1"
            [(ngModel)]="restaurant.name"
            required="required"
            minlength="3"
            maxlength="20"
            name="username"
            #restaurantName="ngModel"
          >
          <div class="alert-danger" *ngIf="restaurantName.errors && f.submitted">
            <div *ngIf="restaurantName.errors.required">Name is required</div>
            <div *ngIf="restaurantName.errors.minlength">
              Name must be at least 3 characters
            </div>
            <div *ngIf="restaurantName.errors.maxlength">
              Name must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="kitchen">Kitchen</span>
            <select
              class="form-control"
              id="Category"
              name="Category"
              [(ngModel)]="restaurant.kitchen"
            >
              <option value="" disabled>Choose a Category</option>
              <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
            </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="description">Description</span>
          <input
            type="text"
            class="form-control"
            placeholder="Description"
            aria-label="Description"
            aria-describedby="basic-addon1"
            [(ngModel)]="restaurant.description"
            required="required"
            minlength="3"
            maxlength="150"
            name="Description"
            #restaurantDescription="ngModel"
          >
          <div class="alert-danger" *ngIf="restaurantDescription.errors && f.submitted">
            <div *ngIf="restaurantDescription.errors.required">Description is required</div>
            <div *ngIf="restaurantDescription.errors.minlength">
              Description must be at least 3 characters
            </div>
            <div *ngIf="restaurantDescription.errors.maxlength">
              Description must be at most 150 characters
            </div>
          </div>
        </div>
        <!-- <div class="form-check"> -->
          <input class="" type="checkbox" value="" id="flexCheckDefault"
                 [(ngModel)]="restaurant.parking"
                 name="Parking">
          <label class="form-check-label parking" for="flexCheckDefault">
            Parking available
          </label>
        <!-- </div> -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="street">Street</span>
          <input
            type="text"
            class="form-control"
            placeholder="Street"
            aria-label="Street"
            aria-describedby="basic-addon1"
            [(ngModel)]="address.street"
            required="required"
            minlength="3"
            maxlength="150"
            name="Street"
            #AddressStreet="ngModel"
          >
          <div class="alert-danger" *ngIf="AddressStreet.errors && f.submitted">
            <div *ngIf="AddressStreet.errors.required">Street is required</div>
            <div *ngIf="AddressStreet.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="AddressStreet.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="nr">Nr:</span>
          <input
            type="number"
            class="form-control"
            placeholder="Nr"
            aria-label="Nr"
            aria-describedby="basic-addon1"
            [(ngModel)]="address.nr"
            required="required"
            name="Nr"
            #AddressNr="ngModel"
          >
          <div class="alert-danger" *ngIf="AddressNr.errors && f.submitted">
            <div *ngIf="AddressNr.errors.required">Nr is required</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="zipcode">Zipcode</span>
          <input
            type="number"
            class="form-control"
            placeholder="Zipcode"
            aria-label="Zipcode"
            aria-describedby="basic-addon1"
            [(ngModel)]="address.zipcode"
            required="required"
            name="Zipcode"
            #AddressZipcode="ngModel"
          >
          <div class="alert-danger" *ngIf="AddressZipcode.errors && f.submitted">
            <div *ngIf="AddressZipcode.errors.required">Zipcode is required</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="city">City</span>
          <input
            type="text"
            class="form-control"
            placeholder="City"
            aria-label="City"
            aria-describedby="basic-addon1"
            [(ngModel)]="address.city"
            required="required"
            minlength="2"
            maxlength="20"
            name="City"
            #AddressCity="ngModel"
          >
          <div class="alert-danger" *ngIf="AddressCity.errors && f.submitted">
            <div *ngIf="AddressCity.errors.required">City is required</div>
            <div *ngIf="AddressCity.errors.minlength">
              City must be at least 2 characters
            </div>
            <div *ngIf="AddressCity.errors.maxlength">
              City must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="country">Country</span>
          <input
            type="text"
            class="form-control"
            placeholder="Country"
            aria-label="Country"
            aria-describedby="basic-addon1"
            [(ngModel)]="address.country"
            required="required"
            minlength="2"
            maxlength="20"
            name="Country"
            #AddressCountry="ngModel"
          >
          <div class="alert-danger" *ngIf="AddressCountry.errors && f.submitted">
            <div *ngIf="AddressCountry.errors.required">Country is required</div>
            <div *ngIf="AddressCountry.errors.minlength">
              Country must be at least 2 characters
            </div>
            <div *ngIf="AddressCountry.errors.maxlength">
              Country must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="submit" class="btn btn-outline-primary" *ngIf="isNew">Save</button>
          <button type="submit" class="btn btn-outline-primary" *ngIf="!isNew">Update</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteResto()" *ngIf="!isNew">Delete</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
          Update/save failed!<br>{{errorMessage}}
        </div>
        <div class="alert alert-succes" *ngIf="isSuccessful">
          Your update is successful!
        </div>
      </form>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2">
        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Cancel</button>
      </div>
    </div>

    <div class="col-6" *ngIf="!isNew">
      <h2 class="">Other settings:</h2>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2">
            <button type="button" class="btn btn-outline-primary" *ngIf="!isNew"
                    routerLink="/restaurant/{{restaurant.id}}/edit/openinghours">Edit Openinghours
            </button>
            <button type="button" class="btn btn-outline-primary" *ngIf="!isNew"
                    routerLink="/restaurant/{{restaurant.id}}/edit/table">Edit Table's
            </button>
            <button type="button" class="btn btn-outline-secondary knop"
                    routerLink="/restaurant/{{restaurant.id}}/edit/advertisement">Edit Advertisement
            </button>
            <button type="button" class="btn btn-outline-secondary knop mt-2"
                    routerLink="/restaurant/{{restaurant.id}}/edit/menu">Edit Menu
            </button>
          </div>
    </div>
  </div>
</div>
