<!--/**
 * Created by "Andy Van Camp".
 */-->

<div class="container">
  <div class="row my-2">
    <div class="col mx-1">
      <div id="buttons" class="w-100 mx-auto my-1 border border-dark border-3 border-primary rounded-3 "
           *ngFor="let user of userListFinish">
        <div class="my-1 mx-1" (click)="selectUser(user.id)">
          <td >
            <ul class="mt-2">
              <li>User id: {{user.id}}</li>
              <li>User name: {{user.username}}</li>
              <li><q *ngFor="let role of user.roles"> {{role.name}} </q></li>
              <li>User Store Credit: {{user.storeCredit}}</li>
            </ul>
          </td>
          <div class=" d-flex flex-row-reverse">
            <button *ngIf="loggedUser.id != user.id" type="button" class="btn btn-outline-danger w-25"
                    (click)="deleteUser(user.id)">Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col mx-1 my-1">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
  
        <div class="input-group-text mb-3">
          <span class="input-group-text" id="id">Id: </span>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="form.id"
            name="id"
            required="required"
            #Id="ngModel"
          >
          <span class="input-group-text" id="amount">Amount: </span>
          <input
            type="number"
            class="form-control"
            placeholder="value"
            aria-label="Value"
            aria-describedby="basic-addon1"
            [(ngModel)]="form.value"
            required="required"
            max="1000"
            name="value"
            #Value="ngModel"
          >
        </div>
  
        <div class="alert-danger" *ngIf="Value.errors && f.submitted">
          <div *ngIf="Value.errors.required">Value is required</div>
          <div *ngIf="Value.errors.max">
            Value must be lower then 1000
          </div>
          <div *ngIf="Value.errors.min">
            Value must not be lower then
          </div>
        </div>
  
        <div class="alert-danger" *ngIf="Id.errors && f.submitted">
          <div *ngIf="Id.errors.required">Id is required</div>
        </div>
  
        <div>
          <button type="submit" class="btn btn-primary">Update Store credit</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isAddFailed">
          Updating wallet failed!<br>{{errorMessage}}
        </div>
      </form>
    </div>
  </div>
</div>
