<!--/**
 * Author: Andy.
 */-->
<div class="login"> Login
</div>
<div class="row g-3 pt-3">
  <div class="col">
    <form class="mx-auto w-50"
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>

      <div
        class="input-group mb-3">
        <span class="input-group-text" id="name">Name</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="form.username"
          required="required"
          minlength="3"
          maxlength="20"
          name="username"
          #username="ngModel"
        >
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="password">Password</span>
        <input
          type="text"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="password"
          [(ngModel)]="form.password"
          required="required"
          minlength="6"
          name="password"
          #password="ngModel"
        >
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Username must be at least 6 characters
          </div>

        </div>
      </div>

      <button type="submit" class="btn btn-primary">Sign In</button>

      <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
        Login failed!<br>{{errorMessage}}
      </div>

    </form>
  </div>
</div>

<div class="row g-3 pt-3" *ngIf="isLoggedIn">
  <div class="alert alert-success">
    Your Login is successful {{name}}
    <br>
    Logged in as {{ roles }}.
  </div>
</div>
