<div class="d-flex flex-row-reverse bd-highlight">
  <button type="button" class="btn btn-danger" style="margin-bottom: 5px" [mat-dialog-close]="false">
    X
  </button>
</div>
<div class="alert alert-dark">
  <div class="header">
    <h2 class="alert alert-warning" mat-dialog-title>{{data?.title}}</h2>
  </div>

  <div class="list-group" mat-dialog-content>
    <p class="list-group-item" *ngFor="let message of data?.message">{{message}}</p>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button class="btn btn-light" mat-raised-button [mat-dialog-close]="false">
      {{data?.cancelCaption}}
    </button>
    <button class="btn btn-light" style="margin-left:5px " mat-raised-button color="primary" [mat-dialog-close]="true">
      {{data?.confirmCaption}}
    </button>
  </div>
</div>
