<!--/**
 * Created by "Andy Van Camp".
 */-->
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LaCuisine</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home" routerLink="home"><i class="fas fa-home mx-1"></i> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/restaurant" routerLink="restaurant"><i class="fas fa-utensils mx-1"></i> Restaurants</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a class="nav-link" href="/admin" routerLink="admin"><i class="fas fa-user-cog"></i> Admin</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Register <i class="fas fa-user-plus mx-1" ></i></a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login"><i class="fas fa-sign-in-alt mx-1" ></i> Login</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile"><i class="far fa-user mx-1" ></i>{{username}}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut <i class="fas fa-sign-out-alt mx-1" ></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

  <div style="height:80px"></div>

  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" >
      © 2021 Copyright:
      The Green Team
    </div>
  </footer>
</div>
