h2 {
  text-align: center;
  font-family: "Yomogi", cursive;
  font-size: 70px;
  margin: 20px auto 30px auto;
  padding-bottom: 20px;
  /* border-top: 5px solid #FF8F00; */
  border-bottom: 4px solid #ff8f00;
}

.woops {
  text-align: center;
}

.card {
  width: 100%;
  padding: 0;
}

.card-body {
  background-color: beige;
  color: black;
}

.align-items-start{
    justify-content: center;
  
}
