<!--/**-->
<!-- * Created by "Andy Van Camp" on 26/08/2021.-->
<!-- */-->

<div class="container">
  <h2>Orders {{restaurant.name}}</h2>
  <div class="row align-items-start gap-3">
    <div *ngIf="isLoaded && reservationCollection.length === 0" class="woops">
      <p>Seems like there are no reservations yet.</p>
    </div>
    <div>
      <p class="text-center">Download files between chosen dates</p>
    </div>
    <form class="mt-0 ms-4  w-25"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>

      <div class="input-group mb-3">
        <span class="input-group-text" id="startDate">Date:</span>
        <input
          type="date"
          class="form-control"
          placeholder="Date"
          aria-label="Date"
          aria-describedby="basic-addon1"
          [(ngModel)]="reservationRequest.start"
          required="required"
          name="startDate"
          #startDate="ngModel"
        >
        <div class="alert-danger" *ngIf="startDate.errors && f.submitted">
          <div *ngIf="startDate.errors.required">Date is required</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="endDate">Date:</span>
        <input
          type="date"
          class="form-control"
          placeholder="Date"
          aria-label="Date"
          aria-describedby="basic-addon1"
          [(ngModel)]="reservationRequest.end"
          required="required"
          name="endDate"
          #endDate="ngModel"
        >
        <div class="alert-danger" *ngIf="endDate.errors && f.submitted">
          <div *ngIf="endDate.errors.required">Date is required</div>
        </div>
      </div>
      <div>
        <span>Reservations: <button type="submit" class="btn btn-outline-primary">Download</button></span>
      </div>
    </form>
    <div *ngIf="isLoaded" class="row justify-content-center">
      <div *ngFor="let reservation of reservationCollection" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Reservation for: {{reservation.user.username}}</h5>
          <p class="card-text">Email: {{reservation.user.email}}</p>
          <p class="card-text">Date: {{reservation.date}}</p>
          <p class="card-text">Time: {{reservation.startTime.substring(0, 5)}}
            - {{reservation.endTime.substring(0, 5)}}</p>
          <p class="card-text">For table nr: {{reservation.restaurantTable.id}}</p>
          <p class="card-text">Persons: {{reservation.partySize}}</p>
          <button type="button" class="btn btn-outline-danger " (click)="delete(reservation.id)">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-dark btn-sm" (click)="goBack()">Back
  </button>
</div>
