<h3>User name: {{data.name}}</h3>

<h4>From Restaurant: {{data.order.restaurant.name }} </h4>

<h5 class="total">Total: {{data.total| currency: '€'}}</h5>


<h5>Current Funds: {{data.creditsAfterPayment | currency: '€'}}</h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="center">
  <button type="button" class="btn btn-outline-primary"(click)="goBack()">Go back to Restaurants</button>
  <button href="/profile" class="nav-link" routerLink="profile" type="button" class="btn btn-outline-primary"(click)="close()">Go back to your profile</button>
  </div>
</div>
<h5 class="time">
  Ordered on: {{data.order.orderTime | date:'MMM d, y, H:mm'}}
</h5>
<p class="thanks">
  thank you for ordering at La Cuisine
</p>


