.total{
  border-bottom: 2px solid #FF8F00;
}
.thanks{
  text-align: center;
}
.time{
  text-align: center;
}
.btn-outline-primary{
  align-content: center;
  background-color:#343a40!important;
  border-color: orange;
  color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
