.red {
  background-color: tomato;
}

.slots:hover {
  cursor: pointer;
  background-color: lightgreen;
}

span{
  width: 100px;
}

p, h3{
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Yomogi', cursive;
  font-size: 70px;
  margin: 20px auto 30px auto;
  padding-bottom: 20px;
  /* border-top: 5px solid #FF8F00; */
  border-bottom: 4px solid #FF8F00;
}

.align-items-start{
  justify-content: center;

}
