
h5, p {
  color: black;
}

.card:hover {
  cursor: pointer;
}

.text-muted1 {
  justify-content: center;
  align-items:center;
  margin-right: auto;
  margin-left: 130px;
  font-family: 'Raleway';
  height: 50px;
  padding: 15px 30px 15px;
  background-color: forestgreen;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  color:white;
}

.text-muted2 {
  justify-content: center;
  align-items:center;
  margin-right: auto;
  margin-left: 130px;
  font-family: 'Raleway';
  height: 50px;
  padding: 15px 30px 15px;
  background-color: crimson;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  color:white;
}
.align-items-start {
  justify-content: center;
}
.card{
  width: 100%;
  padding: 0;
}
.card-body{
  background-color: beige;
  color:black;

}
.whitespace{
  padding-bottom: 10px;
}
.whitespace2{
  padding-bottom: 35px;
}
.header{
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: 5px solid #FF8F00;

  text-align: center;
  font-family: 'Yomogi', cursive;
}
.header > h1{
  font-size: 70px;
}


