<!--/**-->
<!-- * Created by "Andy Van Camp" on 10/08/2021.-->
<!-- */-->
<div *ngIf="!childIsActive">
  <div class="whitespace"></div>
  <div class="header"><h1>Les Restaurants</h1></div>
  <div class="whitespace2"></div>
  <div class="row align-items-start gap-3">
    <div *ngFor="let restaurant of restaurantCollectionOpen" class="card" style="width: 20rem;"
         routerLink="/restaurant/{{restaurant.id}}">
      <div class="card1">
        <img src="{{imgSource}}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{restaurant.name}}</h5>
        <p class="card-text">{{restaurant.description}}</p>
        <div class="ratings">
          <div class="empty-stars"></div>
          <div class="full-stars" [style.width]="restaurant.rating * 20 + '%'"></div>
        </div>
        <h4 class="card-text1">
          <small class="text-muted1" [ngClass]="{'green': restaurant.open}" *ngIf="restaurant.open">open</small>
          <small class="text-muted2" [ngClass]="{'red': !restaurant.open}" *ngIf="!restaurant.open">closed</small>
        </h4>
      </div>

    </div>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
</style>
<router-outlet
  (activate)="childIsActived()"
  (deactivate)="childIsDeActived()"></router-outlet>
<!--<app-restaurant-detail (active)="setActive($event)"></app-restaurant-detail>-->
