<!--/**-->
<!-- * Created by "Andy Van Camp" on 16/08/2021.-->
<!-- */-->
<div class="container">
  <div class="row align-items-start">
    <div class="col-6">
      <h3>Available store credit: {{wallet.storeCredit}}</h3>
      <form class=""
            *ngIf="isLoaded"
            name="form"
            [formGroup]="form" (ngSubmit)="onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="input-group mb-3">
          <span class="input-group-text" id="name">Advertisement:</span>
          <input
            type="text"
            class="form-control"
            placeholder="Advertisement"
            aria-label="Advertisement"
            aria-describedby="basic-addon1"
            formControlName="description"
            required="required"
            minlength=1
            maxlength="150"
            name="advertisement"
          >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="credit">Credit:</span>
          <input
            type="number"
            class="form-control"
            placeholder="Credit"
            aria-label="Credit"
            aria-describedby="basic-addon1"
            formControlName="advertisementCost"
            required="required"
            name="credit"
          >
        </div>
        <div *ngIf="adExist">
          <p>Expire date add: {{advertisement.expireDate | date:'MMM d, y, H:mm'}}</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="submit" class="btn btn-outline-primary" [disabled]="form.touched&&form.invalid"
                  *ngIf="!adExist">Save
          </button>
          <button type="submit" class="btn btn-outline-primary" [disabled]="form.touched&&form.invalid" *ngIf="adExist">
            Update
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteAdvertisement()" *ngIf="adExist">Delete
          </button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
          Setting advertisement failed!<br>{{errorMessage}}
        </div>
      </form>
      <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Back</button>
    </div>
    <div class="alert alert-warning" *ngIf="error && adExist">
      Something went wrong<br>{{errorMessage}}
    </div>
  </div>
</div>

