<!--/**
 * Author: Andy.
 */-->
<!-- <div class="container-fluid"> -->
<div *ngIf="!childActive">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h4>My Profile</h4>
      <h3>
        <strong>{{ currentUser.username }}</strong> Username
      </h3>
      <h3>
        <strong>{{ currentUserCredit }}</strong> Credits
      </h3>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <div class="row-cols-1">
        <div id="restaurant" *ngIf="showAddResto">
          <button type="button" class="btn btn-primary btn-lg" routerLink="/restaurant/0/edit" (click)="changeToken()">Add
            restaurant
          </button>
        </div>
        <div id="oder" class="mt-2">
          <button type="button" class="btn btn-primary btn-lg" routerLink="/profile/{{currentUser.id}}/orders">My Orders
          </button>
        </div>
        <div id="reservation" class="mt-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="getReservation()">My Reservations
          </button>
        </div>
      </div>

    </header>
    <div class="row align-items-start gap-3 showreservation" *ngIf="showReservation">
      <h4>My Reservations</h4>
      <div *ngIf="reservationCollection.length === 0" class="woops">
        <p>Seems like you don't have any reservations yet,<br>
          go find some nice places <a href="/restaurant" routerLink="/restaurant">over here</a>!
        </p>
      </div>
      <div *ngFor="let reservation of reservationCollection" class="card col-md-3 mb-3">
        <!-- <div class=""> -->
        <div class="card-body">
          <h5 class="card-title">{{reservation.restaurant.name}}</h5>
          <p class="card-text">Date: {{reservation.date}}</p>
          <p class="card-text">Time: {{reservation.startTime.substring(0, 5)}} - {{reservation.endTime.substring(0, 5)}}
          </p>
          <p class="card-text">Persons: {{reservation.partySize}}</p>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="row align-items-start gap-3" *ngIf="showAddResto">
      <h4>My Restaurants</h4>
      <div *ngIf="restaurantCollection.length === 0" class="woops">
        <p>Seems like you don't have any restaurants yet,<br>
          you can add one <a href="/restaurantedit" routerLink="/restaurant/edit">over here</a>!
        </p>
      </div>
      <div *ngFor="let restaurant of restaurantCollection" class="card" style="width: 20rem;">
        <div class="card1">
          <img src="{{imgSource}}" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">{{restaurant.name}}</h5>
            <p class="card-text">{{restaurant.description}}</p>
            <div class="ratings">
              <div class="empty-stars"></div>
              <div class="full-stars" [style.width]="restaurant.rating * 20 + '%'"></div>
            </div>
            <div class="">
              <div class="d-flex mt-2 mb-1 gap-1">
                <button routerLink="/restaurant/{{restaurant.id}}/" class="btn btn-outline-primary">Show
                  details
                </button>
                <button routerLink="/restaurant/{{restaurant.id}}/orders" class="btn btn-outline-primary">Show
                  orders
                </button>
              </div>
              <div class="d-flex">
                <button routerLink="/restaurant/{{restaurant.id}}/reservations" class="btn btn-outline-primary w-100">
                  Show
                  Reservations
                </button>
              </div>
              <div class="d-flex">
                <button routerLink="/restaurant/{{restaurant.id}}/sales" class="btn btn-outline-primary w-100">Show
                  Sales
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>
<router-outlet
  (activate)="setChildActive()"
  (deactivate)="setChildInActive()"
></router-outlet>
