
.showreservation {
  animation: ease-in-out;
}

.btn{
  width: 200px;
}
.align-items-start{
  justify-content: center;

}
.col-md-8{

  color: white;
  padding: 0;
  margin: 0;
}

.jumbotron {
  background-color: white;
  color: black;
  /* height: 375px; */
  padding: 10px;
  text-align: right;
}


button{
  background-color:#343a40!important;
  border-color: orange;
  color: white;
}
.card{
  width: 100%;
  padding: 0;

}
.card-body{
  background-color: beige;
  color:black;

}


.card-img-top{
  padding:0;
}
.card1 {
  padding: 0;
}
.col-md-12 {
padding: 0 ;
}

h4 {
  text-align: center;
  font-family: 'Yomogi', cursive;
  font-size: 50px;
  margin: 20px auto 30px auto;
  padding-bottom: 20px;
  /* border-top: 5px solid #FF8F00; */
  border-bottom: 4px solid #FF8F00;
}

a {
  color: #FF8F00;
}

.woops {
  text-align: center;
}




