.container {
  padding-top: 20px;
  /* width: 75%; */
}

.container .row {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 5px solid #FF8F00;
}

.openings .row {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.col {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 20px;
}

.kitchen {
  font-style: italic;
}

.knoppen {
  position: fixed;
  top: 80px;
  right: 25px;
}

.knop {
  /* display: block; */
  margin-bottom: 5px;
  width: 180px;
}

.reviewknop {
  margin-bottom: 0.5rem;
}

.hours {
  width: 300px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
  visibility: hidden;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.card{
  background-color: #f6f6f6;
}

/* addReviewKnop {
  margin-top: 10px;
} */
