<!--/**-->
<!-- * Created by "Andy Van Camp" on 10/08/2021.-->
<!-- */-->
<div class="container" *ngIf="!childActive && isLoaded">
  <div class="alert alert-warning" *ngIf="error">
    Problem!<br>{{errorMessage}}
  </div>
  <h1 class="">{{restaurant.name}}</h1>
  <div class="row">
    <div class="col col-sm-12 col-md-6" *ngIf="restaurant">
      <p class="fs-5 kitchen">{{restaurant.kitchen}} KITCHEN</p>
      <div class="ratings inheader">
        <div class="empty-stars"></div>
        <div class="full-stars" [style.width]="restaurant.rating * 20 + '%'"></div>
      </div>
      <p>Description: <br>{{restaurant.description}}</p>

      <p>
        Address:<br>
        {{address.street}} {{address.nr}}<br>
        {{address.zipcode}}, {{address.city}}<br>
      </p>
      <p *ngIf="restaurant.parking">Parking <i class="far fa-check-circle" style="color : green;"></i></p>
      <p *ngIf="!restaurant.parking">Parking <i class="far fa-times-circle" style="color : red;"></i></p>
      <br>
      <button *ngIf="currentUser.id" type="button" class="btn btn-outline-secondary mt-2"
              routerLink="/restaurant/{{restaurant.id}}/reservation/{{restaurant.name}}">
        Book now!
      </button>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2">
        <button *ngIf="showEdit" type="button" class="btn btn-outline-secondary knop"
                routerLink="/restaurant/{{restaurant.id}}/edit">Edit Restaurant
        </button>
      </div>
    </div>


    <div class="col col-sm-8 col-md-6">
      <h3>Opening hours</h3>
      <div *ngIf="openinghoursCollection.length === 0">
        <p>Woops! There are no opening hours yet, <br>quickly add some so people will be able to find your restaurant!
        </p>
      </div>
      <div class="openings" *ngFor="let openingday of openingMap | keyvalue : returnZero">
        <div class="hours row" *ngFor="let hour of openingday.value">
          <div class="col-6 hours">
            {{openingday.key}}:
          </div>
          <div class="col-6">
            <i class="far fa-clock"></i> {{hour.openTime.substring(0, 5)}} - {{hour.closeTime.substring(0, 5)}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  menukaart-->
  <div class="row">
    <div class="col myorder">
      <h2>Menukaart</h2>
      <div *ngIf="menuItems.length === 0">
        <p>Woops! No menu items yet, add some quickly!</p>
      </div>
      <table *ngIf="menuItems.length !== 0" style="width: 100%;">
        <tr>
          <th>Name</th>
          <th>Vegetarian</th>
          <th>Price</th>
          <th *ngIf="showOrder">Add to order</th>
        </tr>
        <tr *ngFor="let menuItem of menuItems">
          <td>{{menuItem.name}}</td>
          <td>
            <div *ngIf="menuItem.vegetarian"><i class="fas fa-seedling" style="color: green"></i></div>
          </td>
          <td>{{menuItem.price | currency:'EUR'}}</td>
          <td><i (click)="addToOrderList(menuItem)" *ngIf="showOrder" class="far fa-2x fa-plus-square"></i></td>
        </tr>
      </table>
    </div>

    <!-- my order -->
    <div class="col">
      <ng-container *ngIf="showOrderList">
        <h2>My Order</h2>
        <table style="width: 300px;">
          <tr>
            <th>OrderItem</th>
            <th>Amount</th>
          </tr>
          <tr *ngFor="let orderItem of orderItems.orderItemCollection">
            <td>{{orderItem.menuItem.name}}</td>
            <td style="width: 1%">X {{orderItem.amount}}</td>
            <td><i (click)="deleteFromOrderList(orderItem)" class="far fa-2x fa-minus-square"></i></td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="saveOrder()">
                Order
              </button>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h2>Reviews</h2>
      <div *ngIf="ratingCollection.ratingCollection.length === 0">
        Woops! There are no reviews yet!
      </div>
      <div *ngFor="let rating of ratingCollection.ratingCollection" class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
          <div class="card-title">
            <div class="ratings">
              <div class="empty-stars"></div>
              <div class="full-stars" [style.width]="rating.score * 20 + '%'"></div>
            </div>
            <div>{{rating.user.username}} schreef op {{rating.date | date:'mediumDate'}}:</div>
          </div>
          <div class="card-text">
            {{rating.feedback}}
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <button (click)="deleteReview(rating)" class="btn btn-outline-danger mx-1 w-25" *ngIf="isAdmin"><i
            class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>

    </div>
    <!-- Show review form onclick     -->
    <div class="col-6">
      <button type="button" class="btn btn-primary reviewknop" *ngIf="currentUser.id" data-bs-toggle="collapse"
              data-bs-target="#collapseExample">+ Review
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form (ngSubmit)="reviewForm.form.valid && saveReview()" #reviewForm="ngForm" novalidate name="form">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" required #rate="ngModel"
                     [(ngModel)]="rating2.score"/>
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" required #rate="ngModel"
                     [(ngModel)]="rating2.score"/>
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" required #rate="ngModel"
                     [(ngModel)]="rating2.score"/>
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" required #rate="ngModel"
                     [(ngModel)]="rating2.score"/>
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" required #rate="ngModel"
                     [(ngModel)]="rating2.score"/>
              <label for="star1" title="text">1 star</label>
            </div>
            <div class="input-group">
              <span class="input-group-text">Describe your experience:</span>
              <textarea class="form-control" aria-label="With textarea" placeholder="Write your experience here!"
                        name="feedback" required [(ngModel)]="rating2.feedback" #feedback="ngModel"></textarea>
            </div>
            <div class="alert-danger" *ngIf="rate.errors?.required && reviewForm.submitted">
              <div>Rating is required</div>
            </div>
            <div class="alert-danger" *ngIf="feedback.errors?.required && reviewForm.submitted">
              <div>Feedback is required</div>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-3">Add review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet
  (activate)="setChildActive()"
  (deactivate)="setChildNotActive()"
></router-outlet>
