/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
/*@import "~font-awesome/css/font-awesome.css";*/


.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ccc;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffc700;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 20pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #ccc;
}
.full-stars:before {
    -webkit-text-stroke: 1px #ffc700;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
}
