<!--/**-->
<!--* Created by "Dorien & Nick" on 16/08/2021.-->
<!--* update by "Andy" on 30/01/2022.-->
<!--*/-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Current menu</h2>
      <div *ngIf="menuItems.length === 0">
        <p>Woops! No menu items yet, add some quickly!</p>
      </div>
      <table *ngIf="menuItems.length !== 0">
        <tr>
          <th>Name</th>
          <th>Vegetarian</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let menuItem of menuItems">
          <td style="width: 150px;">{{menuItem.name}}</td>
          <td style="width: 100px;">
            <div *ngIf="menuItem.vegetarian"><i class="fas fa-seedling" style="color: green"></i></div>
          </td>
          <td>{{menuItem.price | currency:'EUR'}}</td>
          <td style="width: 60px;">
            <button (click)="editMenuItem(menuItem)"
                    class="btn btn-outline-primary mx-1">Edit
            </button>
          </td>
          <td>
            <button (click)="deleteMenuItem(menuItem.id)" class="btn btn-outline-danger mx-1"><i
              class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
      <h2 *ngIf="editIsClicked">Editing to implement</h2>
      <h2 *ngIf="!editIsClicked">Add new item</h2>
      <div>
        <button class="btn btn-outline-dark" (click)="onAddMenuItem()">Add new Item</button>
      </div>
      <form class="g-3 mt-3" [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

        <div formArrayName="menuItems">
          <div class="form-group"
               *ngFor="let menuItemCtrl of menuItemControls; let i = index"
               [formGroupName]="i">
            <div class="input-group mb-3">
              <span class="input-group-text" id="name">Item name</span>
              <input
                type="text"
                class="form-control"
                placeholder="Item name"
                formControlName="name"
                required="required" minlength="3" maxlength="25"
              >
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="price">Price</span>
              <input
                type="number"
                class="form-control"
                placeholder="Price"
                formControlName="price"
                min="0" step="0.01" required="required"
              >
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="foodtypes">Type</span>
              <select
                class="form-control form-select"
                id="foodtype"
                required="required"
                formControlName="foodType"
              >
                <option [ngValue]="null" disabled>Choose a Type</option>
                <option *ngFor="let foodType of foodTypes" [ngValue]="foodType">{{ foodType }}</option>
              </select>
            </div>
            <div class="form-check ms-1">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                     formControlName="vegetarian">
              <label class="form-check-label" for="flexCheckDefault">
                vegetarian
              </label>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" style="margin-bottom: 5px" (click)="onCancelAddMenuItem(i)">
                X
              </button>
            </div>
          </div>
        </div>

        <div class="knoppen">
          <button style="margin-right:5px " *ngIf="menuItemControls.length !== 0" type="submit"
                  class="btn btn-outline-primary"
                  [disabled]=" menuItemControls.length==0 || (menuItemControls.length>0 && !form.touched) || (form.touched&&form.invalid)">
            Save
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="goBack()">Back
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
