<!--/**-->
<!-- * Created by "Andy Van Camp" on 16/08/2021.-->
<!-- */-->
<div class="container">
  <div class="card_header">
    <h1>La Cuisine</h1>
    <div class="text_box_1 fs-5">
      Welcome at La Cuisine, the online kitchen where you will find just the dish for you.<br>
      Have a look around and order at the restaurant of your choice!
    </div>
  </div>

  <!-- food foto's -->
  <div class="row justify-content-center gap-3">
    <div class="col-sm-12 col-md-3">
      <div class="foto"><img src="../../assets/img/food6.png"></div>
      <div class=""><i>"Nothing brings people together<br> like good food"</i>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="foto"><img src="../../assets/img/food2.png"></div>
      <div class=""> Choose one of the restaurants in the spotlight
        below or feel free to look through all the options
        by going to the <i>Restaurant</i> tab!
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="foto"><img src="../../assets/img/food5.png"></div>
      <div class=""><i>"Life is short,<br> eat dessert first"</i>
      </div>
    </div>
  </div>

  <!-- ads -->
  <div class="row justify-content-center bg-light ads">
    <h4>Restaurants in the spotlight!</h4>
    <div *ngIf="advertisementList.length === 0">
      <p>Seems like there are no restaurants in the spotlight at the moment,<br>
        go find some nice places <a href="/restaurant" routerLink="/restaurant">over here</a>!
      </p>
    </div>
    <ng-container *ngIf="advertisementList.length != 0">
      <div class="col-sm-12 col-md-3" *ngFor="let advertisement of advertisementList">
        <div class="card "
             routerLink="/restaurant/{{advertisement.restaurant.id}}">
          <img src="{{imgSource}}" class="card-img-top" alt="...">
          <div class="card-body ">
            <h3>{{ advertisement.restaurant.name }}</h3>
            <p class="card-text">{{advertisement.description}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row justify-content-center bg-light ads">
    <!--  Dynamic ad component  -->
    <div class="col-sm-12 col-md-3">
      <app-ad-banner *ngIf="advertisementList2.length" [ads]="advertisementList2"></app-ad-banner>
    </div>
  </div>
</div>



