<!--/**-->
<!-- * Created by "Andy Van Camp" on 19/08/2021.-->
<!-- */-->
<div class="container">
  <div class="row g-1 pt-2">
    <h3>Restaurants setting table info:</h3>
    <form *ngIf="!isSuccessful"
          (ngSubmit)="onSubmit()"
          [formGroup]="tableForm"
          #ngForm="ngForm"
          novalidate>

      <div class="input-group mb-3">
        <span class="input-group-text">Capacity:</span>
        <input
          type="number"
          class="form-control"
          placeholder="Capacity"
          formControlName="capacity"
        >
      </div>
      <div *ngIf="tableForm.get('capacity').touched && tableForm.get('capacity').invalid">
        <h5 style="width: fit-content" class="alert-danger">Capacity is required.</h5>
      </div>


      <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-1">
        <button type="submit" [disabled]="!tableForm.valid"
                class="btn btn-outline-primary">{{isNew ? 'Save' : 'Update'}}</button>
        <button type="button" class="btn btn-outline-primary" *ngIf="!isNew" (click)="setNew()">New</button>

        <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteRestaurantTable()" *ngIf="!isNew">Delete
        </button>
      </div>
      <div class="alert alert-warning" *ngIf="ngForm.submitted && isFailed">
        Update/save failed!<br>{{errorMessage}}
      </div>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
      Table is saved!
    </div>

  </div>
  <div class="row g-1 pt-2">
    <div *ngIf="isLoaded" class="d-grid gap-2 d-md-flex justify-content-md-start">
      <div class="card" *ngFor="let restaurantTable of restaurantTableCollection | order:'capacity' : 'number'"
           (click)="setForUpdate(restaurantTable)">
        <div class="card-body" [ngClass]="{'green':restaurantTable.active}">
          <i>Table</i>
          <h3>Seats: {{restaurantTable.capacity}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

