<!--/**
 * Author: Andy.
 */-->
<div class = "register"> Register </div>
<div class="container">
  <div class="row mx-auto">
<!--    <div class="col-6 pt-3">-->
<!--      <img-->
<!--        id="profile-img"-->
<!--        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"-->
<!--        class="img-fluid rounded mx-auto d-block"-->
<!--      /></div>-->
    <div class="mx-auto w-50">
      <form class="row g-3 pt-3"
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>

        <div class="input-group mb-3">
          <span class="input-group-text" id="name">Name</span>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
            [(ngModel)]="form.username"
            required="required"
            minlength="3"
            maxlength="20"
            name="username"
            #username="ngModel"
          >
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="password">Password</span>
          <input
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="password"
            [(ngModel)]="form.password"
            required="required"
            minlength="6"
            name="password"
            #password="ngModel"
          >
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Username must be at least 6 characters
            </div>

          </div>
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text" id="email">Email</span>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="basic-addon2"
            name="email"
            [(ngModel)]="form.email"
            required="required"
            email="email"
            #email="ngModel"
          >

          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <h4>Choose role:</h4>
        <div *ngFor="let check of model.checks" ngModelGroup="formCheckbox">
          <input
            type="checkbox"
            [id]="'formCheckbox-' + check.id"
            [name]="check.id"
            [(ngModel)]="check.selected"
          />
          <label [for]="'formCheckbox-' + check.id"> {{check.id }}</label>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br>{{errorMessage}}
        </div>
        <div class="alert alert-succes" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </form>
    </div>
  </div>
</div>

